@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

* {
    width: auto;
    border-radius: 25px;
    box-shadow: 25px #ddd;
    padding: 10px;
    background-color: white;
    text-decoration-color: default;
    
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 65px;
}

li {
    display: inline-block;
    margin: auto;
    padding: auto;
    align-items: center;
}

nav {
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 0;
}

body {
    font-family: Source Sans Pro;
    background-color: #eee;
    border-color: #eee;
}

a {
    color: #777;
}
